@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e1734;
  --foreground: white;
}

html {
  overflow-y: scroll !important;
}

body {
  color: var(--foreground);
  background: linear-gradient(black, var(--background) 100vh);
  background-attachment: fixed;

  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
  background-color: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--background), white 10%);
  opacity: 0.5;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
